@import url("https://fonts.googleapis.com/css?family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");

/* Just to debug */

h1 {
  color: #833ab4;
}

$primary: #f9f6e2;
$primary-light: #f9f9f9;
$primary-dark: #c6c3b0;

// $secondary: #f23430;
$secondary: #ff6d5b;
$secondary-light: #ff9f88;
$secondary-dark:#c63b31;

html,
body,
#root {
  height: 100%;
  padding: 0;
  background-color: $primary;
  /* background-image: url("./assets/redtetris-background.png"); */
  /* background: linear-gradient(to right bottom, #405de6, #fcaf45); */
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-board-left {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.title {
  white-space: nowrap;
  user-select: none;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: #fff;
  font-size: 70px;
  min-width: 200px;
  text-shadow: -1px 0 $secondary, 0 4px $secondary, 4px 0 $secondary, 0 -1px $secondary;
}

.info {
  /* border: 5px inset; */
  border: 5px inset $secondary;
  border-radius: 3px;
  height: 100%;
  background-color: $primary-light;
  /*  border-width: 2px;
  border-style: inset; */
}

.app-spectrum {
  display: flex;
}

.spectrum {
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  justify-content: center;
  /* font-size: 30px; */
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.spectrum>.game-grid {
  box-shadow: none;
  padding: 20px;
}

.spectrum>.game-grid>.line>.box {
  width: 20px;
  height: 20px;
  /* background-color: rgb(255, 255, 255); */
}

.game {
  display: flex;
  flex-direction: row;
  padding-top: 70px;

  /* background-color: black; */
}

.game-grid {
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px $secondary,
    0 1px 4px rgba(0, 0, 0, 0.89);

  /* border: 6px double #ffffff; */
}

.game-pieces {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.game-pieces>* {
  margin-bottom: 10px;
}

.line {
  display: flex;
  flex-direction: row;
  position: relative;
}

.box {
  width: 30px;
  height: 30px;
  /* background-color: aquamarine; */
  background-color: #fff;
  /* border: 2px solid #fcaf45; */
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.904), 0 1px 4px rgba(0, 0, 0, 0.89);
}

.color-form0 {
  background-color: rgb(46, 45, 45);
}

.color-form1 {
  /* border: 3px solid #020002; */
  background-color: rgb(233, 89, 89);
}

.color-form2 {
  background-color: rgb(33, 184, 204);
}

.color-form3 {
  background-color: rgb(180, 219, 118);
}

.color-form4 {
  background-color: rgb(241, 230, 63);
}

.color-form5 {
  background-color: rgb(230, 130, 225);
}

.color-form6 {
  background-color: rgb(103, 101, 202);
}

.color-form7 {
  background-color: rgb(153, 114, 204);
}

.color-form8 {
  background-color: rgb(34, 63, 71);
}

.color-form9 {
  background-color: rgb(241, 143, 143);
}

/* Home Component */
.home {
  user-select: none;
  background: $secondary;
  border: 2px solid $primary-dark;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  min-width: 200px;
  font-family: "Anton", sans-serif;
  color: #fff;
  font-size: 20px;
}

.home-title {
  user-select: none;
  font-size: 3.2vw;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: #fff;
  font-size: 50px;
  min-width: 200px;
  text-shadow: -1px 0 $secondary, 0 4px $secondary, 4px 0 $secondary, 0 -1px $secondary;
}

.home-field {
  padding: 10px 0;
}

.home-icon {
  font-size: 25px;
}

.home-field-title {
  display: flex;
  justify-content: space-around;
  color: $primary;
}

input[type="text"] {
  border-radius: 3px;
  line-height: 20px;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

input:focus {
  /* border-color: #ffdc80; */
  box-shadow: 0 0 25px #719ece;
}

.home-btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 20px 0;
  font-size: 15px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Anton", sans-serif;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
  color: rgb(72, 27, 114);
}

.home-btn:hover {
  cursor: pointer;
  color: #833ab4;
  background-color: #ffdc80;
  box-shadow: 0 0 25px #719ece;
}

$boxes: 59;

.broken-line {
  width: 300px;
  height: 30px;
  position: absolute;
  top: 0;
}

.broken-line-box {
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

$boxes: 100;

@for $i from 1 through $boxes {
  @keyframes anim-#{$i} {
    $a: random(300) + px;
    $b: random(400) + px;

    //
    0% {
      top: -50%;
      left: 50%;
    }

    50% {
      top: $a;
      left: $b;
    }

    100% {
      top: $a;
      left: $b;
      opacity: 0;
    }
  }

  .broken-line-box {
    &:nth-child(#{$i}) {
      display: block;
      left: $i * 5px;
      animation-duration: 2s;
      animation-name: anim-#{$i};
      z-index: 10;
      // animation-iteration-count: ease;
      animation-direction: normal;
      //animation-timing-function: ease-in;
      background: hsla(10 * $i, 100%, 50%, 1);
      animation-fill-mode: forwards;
      color: #fff;
    }
  }
}

// COUNTDOWN START

.countdown {
  top: 50%;
  left: 50%;
  z-index: 100;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 1000px;
  color: #fff;
}

@keyframes shadow {

  0%,
  100% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }
}

.countdown .number {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(270deg);
  animation: animate 10s linear;
}

@keyframes animate {
  0% {
    transform: rotateY(90deg);
  }

  10%,
  100% {
    transform: rotateY(-90deg);
  }
}

.countdown .number h2 {
  margin: 0;
  padding: 0;
  font-size: 15em;
  color: rgb(240, 99, 81);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.countdown .number:nth-child(1) {
  animation-delay: 0s;
}

.countdown .number:nth-child(2) {
  animation-delay: 1s;
}

.countdown .number:nth-child(3) {
  animation-delay: 2s;
}

.countdown .number:nth-child(4) {
  animation-delay: 3s;
}

/* Winner / Loser  Animation*/

%winner-looser {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  z-index: 100;
  width: 100%;
  transform: translate(-50%, -50%);
  span {
    font-family: sans-serif;
    text-transform: uppercase;
    display: block;
  }
  .text1 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    //position: relative;
    margin-bottom: 40px;
    animation: winner-looser-text1 3s 1;
  }
  .text2 {
    font-size: 30px;
    font-weight: 700;
    animation: winner-looser-text2 3s 1;
  }
}

@keyframes winner-looser-text1 {
  0% {
    margin-bottom: -5px;
  }
  30% {
    letter-spacing: 30px;
    margin-bottom: -5px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -5px;
  }
}

@keyframes winner-looser-text2 {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.winner {
  color: #7cf35e;
  @extend %winner-looser;
}

.loser {
  color: #f15c5c;
  @extend %winner-looser;
}
