@import url("https://fonts.googleapis.com/css?family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");

/* Just to debug */

h1 {
  color: #833ab4;
}

html,
body,
#root {
  height: 100%;
  padding: 0;
  background-color: #000000;
  /* background-image: url("./assets/redtetris-background.png"); */
  /* background: linear-gradient(to right bottom, #405de6, #fcaf45); */
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-board-left {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.title {
  font-family: "Faster One", cursive;
  /* font-family: "lucida grande", tahoma, verdana, arial, sans-serif; */
  font-size: 6vw;
  white-space: nowrap;
  color: rgb(255, 255, 255);
}

.info {
  /* border: 5px inset; */
  border: 5px inset #fff;
  border-radius: 3px;
  height: 100%;
  background-color: rgb(248, 241, 241);
  /*  border-width: 2px;
  border-style: inset; */
}

.app-spectrum {
  display: flex;
}

.spectrum {
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  justify-content: center;
  /* font-size: 30px; */
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.spectrum > .game-grid {
  box-shadow: none;
  padding: 20px;
}

.spectrum > .game-grid > .line > .box {
  width: 20px;
  height: 20px;
  /* background-color: rgb(255, 255, 255); */
}

.game {
  display: flex;
  flex-direction: row;
  padding-top: 70px;

  /* background-color: black; */
}

.game-grid {
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgba(241, 2, 2, 0.904),
    0 1px 4px rgba(0, 0, 0, 0.89);

  /* border: 6px double #ffffff; */
}

.game-pieces {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.game-pieces > * {
  margin-bottom: 10px;
}

.line {
  display: flex;
  flex-direction: row;
  position: relative;
}

.box {
  width: 30px;
  height: 30px;
  /* background-color: aquamarine; */
  background-color: #fff;
  /* border: 2px solid #fcaf45; */
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.904), 0 1px 4px rgba(0, 0, 0, 0.89);
}

.color-form0 {
  background-color: rgb(46, 45, 45);
}

.color-form1 {
  /* border: 3px solid #020002; */
  background-color: rgb(233, 89, 89);
}

.color-form2 {
  background-color: rgb(33, 184, 204);
}

.color-form3 {
  background-color: rgb(180, 219, 118);
}

.color-form4 {
  background-color: rgb(241, 230, 63);
}

.color-form5 {
  background-color: rgb(230, 130, 225);
}

.color-form6 {
  background-color: rgb(103, 101, 202);
}

.color-form7 {
  background-color: rgb(153, 114, 204);
}

.color-form8 {
  background-color: rgb(34, 63, 71);
}

.color-form9 {
  background-color: rgb(241, 143, 143);
}

/* Home Component */
.home {
  user-select: none;
  background: #00000071;
  border: 1px solid #ffdc80;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  min-width: 200px;
  font-family: "Anton", sans-serif;
  color: #fff;
  font-size: 20px;
}

.home-title {
  user-select: none;
  font-size: 3.2vw;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: #fff;
  font-size: 40px;
  min-width: 200px;
  text-shadow: -1px 0 #ffdc80, 0 1px #ffdc80, 1px 0 #ffdc80, 0 -1px #ffdc80;
}

.home-field {
  padding: 10px 0;
}

.home-icon {
  font-size: 25px;
}

.home-field-title {
  display: flex;
  justify-content: space-around;
}

input[type="text"] {
  border-radius: 3px;
  line-height: 20px;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

input:focus {
  /* border-color: #ffdc80; */
  box-shadow: 0 0 25px #719ece;
}

.home-btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 20px 0;
  font-size: 15px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Anton", sans-serif;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
  color: rgb(72, 27, 114);
}

.home-btn:hover {
  cursor: pointer;
  color: #833ab4;
  background-color: #ffdc80;
  box-shadow: 0 0 25px #719ece;
}

/* Break line */

/* .broken-line {
  width: 10px;
  height: 10px;
  border: 0.5px solid pink;
  position: absolute;
  right: 0;
  animation: expand-circle 1s ease-in-out 2s;
  animation-direction: alternate;
  z-index: 10;
  border-radius: 50%;
} */

$boxes: 59;

/* #wrap{
  width: 300px;
  height: 30px;
  position: relative;
  margin: auto;
  background-color: white;
  margin-top:  150px;
} */

.broken-line {
  width: 300px;
  height: 30px;
  position: absolute;
  top: 0;
}

.broken-line-box {
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

$boxes: 100;

@for $i from 1 through $boxes {
  @keyframes anim-#{$i} {
    $a: random(300) + px;
    $b: random(400) + px;
    //
    0% {
      top: -50%;
      left: 50%;
    }
    50% {
      top: $a;
      left: $b;
    }
    100% {
      top: $a;
      left: $b;
      opacity: 0;
    }

  }

  .broken-line-box {
    /*     width: 5px;
    height: 5px;
    border-radius: 50%;
    display: block; */
    &:nth-child(#{$i}) {
      display: block;
      left: $i * 5px;
      animation-duration: 2s;
      animation-name: anim-#{$i};
      z-index: 10;
      // animation-iteration-count: ease;
      animation-direction: normal;
      //animation-timing-function: ease-in;
      background: hsla(10 * $i, 100%, 50%, 1);
      animation-fill-mode: forwards;
      color: #fff;
    }
  }
}